body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
div.tablero {
  width: 1500px;
  border: 1px solid greenyellow;
  background-color: blue;
}

.filaArriba {
  
  height: 15%;

}
.cosa {
  display: column;
  background-color: chocolate; 
  border: 1px solid red;
}












