body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
div.tablero {
  border: 1px solid greenyellow;
  background-color: blue;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.filaArriba {
  
  height: 15%;

}
.cosa {
  display: column;
  background-color: chocolate; 
  border: 1px solid red;
}












