*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: grey;
  font-family: 'Roboto', sans-serif;
}
#infojuego p {
  font-size: 30px;
}
.filaArriba, .filaAbajo{
  height: 17%;
}
.filaCentral {
  height: 45%;
}
.cosa {
  background-color: white; 
  border: 1px solid black;
}
.cosa2 {
  border-top: 1px solid black;
}
.col-xl-4ths, .col-lg-4ths, .col-md-4ths, .col-sm-4ths {
  width: 25%;
}
.col-xl-1ths, .col-lg-1ths, .col-md-1ths,.col-sm-1ths {
  width: 12.5%;
}














