<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/contacto.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/cssIndex.css">
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    </head>
    <body>
        <!-- Barra de navegacion -->
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 px-5 collapse-ambos order-1 order-md-0">
          <ul class="navbar-nav ml-auto text-center">
            <!-- Opcion1 -->
            <li class="nav-item px-5">
              <article id="opcion1">
                <img class="fichas" src="imagenes/sombrero.png" id="sombrero">
                <a class="nav-link" href="/logeoAjax">Log In</a>
              </article>
            </li>
    
            <!-- Opcion2 -->
            <li class="nav-item px-5">
              <article id="opcion2">
                <img class="fichas" src="imagenes/perro.png" id="perro">
                <a class="nav-link" href="/registro_usuarios">Registro</a>
              </article>
    
            </li>
          </ul>
        </div>
    
        <!-- Logo central-->
        <div class="mx-auto order-0 order-md-1 px-3 position-relative">
          <a class="mx-auto" href="/">
            <img src="imagenes/Monopoly_pack_logo.png">
          </a>
          <!-- Boton para cuando colapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse-ambos">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    
        <!-- Opciones 3 y 4 del menu-->
        <div class="navbar-collapse collapse w-100 px-5 collapse-ambos order-2 order-md-2">
          <ul class="navbar-nav mr-auto text-center">
    
            <!-- Opcion 3 -->
            <li class="nav-item px-5">
              <article id="opcion3">
                <img class="fichas" src="imagenes/bota.png" id="zapato">
                <a class="nav-link" href="/logeoAjax">Jugar</a>
              </article>
            </li>
    
            <!-- Opcion 4-->
            <li class="nav-item px-5">
              <article id="opcion4">
                <img class="fichas" src="imagenes/dedal.png" id="dedal">
                <a class="nav-link" href="/contacto">Contacto</a>
              </article>
            </li>
    
          </ul>
        </div>
      </nav>
        <div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post" action="/contacto">
                <h1>Mandame tus preguntas</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tu nombre" value="" name="nombre_contacto" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tu email" value="" name="email_contacto" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Mandar" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Escribe tu mensaje *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>



