<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>            
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            
            <script src="librerias/jquery-ui-1.12.1/jquery-ui.js"></script>
            <link rel="stylesheet" type="text/css" href="librerias/jquery-ui-1.12.1/jquery-ui.css">
            
            <link rel="stylesheet" type="text/css" href="stylesheets/css1.css">
            <script type="text/javascript" src="librerias/funciones.js"></script>
            <script src="https://kit.fontawesome.com/f3a6a86392.js"></script>
            <script src="https://unpkg.com/roll-a-die@1.3.0/dist/roll-a-die.js"></script>
            <title>Tablero Monopoly</title>
            

    </head>
    <body>    
        <div id="infoJuego" class="container row mx-auto">
                
                <div id="jugadorTurno" class="col-xl-6 col-lg-6 col-sm-6" style="color:white;">
                        <p>Turno del jugador: </p>
                </div>
                <div id="numeroTurno" class="col-xl-6 col-lg-6 col-sm-6" style="color:white;">
                        <p>Turno nº</p>
                </div>
                
        </div>

        <div class="container mt-5 mb-5 principal">

                <div class="container col-xl-2 col-lg-2 col-md-1 col-sm-1 float-left">
                        <div id="datos_jugadores"></div>
                        {# <div id="jugador_rojo" class="row p-4"><p class="mx-auto">Red</p></div>
                        <div id="dinero_jugador_rojo" class="row"><p class="mx-auto">SALDO1</p></div>
                        <div id="jugador_amarillo" class="row p-4">
                                <p class="mx-auto">Yellow</p>
                        </div>
                        <div id="dinero_jugador_amarillo" class="row">
                                <p class="mx-auto">SALDO2</p>
                        </div>
                        <div id="jugador_verde" class="row p-4">
                                <p class="mx-auto">Esmeral</p>
                        </div>
                        <div id="dinero_jugador_verde" class="row">
                                <p class="mx-auto">SALDO3</p>
                        </div>
                        <div id="jugador_azul" class="row p-4">
                                <p class="mx-auto">Azul</p>
                        </div>
                        <div id="dinero_jugador_azul" class="row">
                                <p class="mx-auto">SALDO4</p>
                        </div> #}
                        <div class="row">
                                
                                <div id="start" class="col w-100 rounded m-1 p-2 ">
                                        <button type="button" id="start_button" class="w-100 btn btn-success">Empezar<i class="ml-4 fas fa-play"></i></button>

                                        <button type="button" id="end_turn_button" class="w-100 btn btn-success">Fin turno<i class="ml-4 fas fa-step-forward"></i></button>

                                        <button type="button" id="roll_dice_button" class="w-100 btn btn-success">Tirar dado<i class="ml-4 fas fa-dice"></i></button>

                                        {# <button type="button" id="actualizar_button" class="w-100 btn btn-success">Actualizar prop</button> #}

                                        <button type="button" id="buy_button" class="w-100 btn btn-success">Comprar<i class="ml-4 fas fa-dollar-sign"></i></button>

                                        <button type="button" id="sell_button" class="w-100 btn btn-success">Vender<i class="ml-4 fas fa-money-bill-wave"></i></button>

                                        <button type="button" id="construct_button" class="w-100 btn btn-success">Edificar<i class="ml-4 fas fa-home"></i></button>

                                </div>
                        </div>
                        <div class="box">
                                {# <div>
                                       <button onclick="rollDiceWithoutValues()">roll</button>
                                </div> #}
                                <div id="dice-box1"></div>
                        </div>

                </div>

                <div id="tablero" class="container col-xl-7 col-lg-7 col-md-10 col-sm-10 float-left">

                        <div class="row filaArriba">
                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light" id="parking">
                                        <div></div>
                                        <div class="row mt-2 ml-3">
                                                                
                                        </div>
                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                        </div>
                                </div>
                                
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25"><p>Suerte</p></div>
                                                <div id="suerte2" class="w-100 h-75 suerte">
                                                        <p style="padding:0px; margin:0px;"></p>
                                                        <div class="row mt-0 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                </div>
                                                
                                        </div>

                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark bg-light casilla_filla_arriba">
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div id="gran_via" class="w-100 h-75"><p>Gran via</p>
                                        
                                                <div class="row mt-2 ml-3">
                                                                
                                                </div>
                                                <div class="row mt-2 mb-1 ml-3">
                                                               
                                                </div>
                                        
                                        </div>
                                </div>
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark bg-light casilla_filla_arriba">               
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div id="paseo_de_la_castellana" class="w-100 h-75"><p>Paseo de la Castellana</p>

                                                <div class="row mt-2 ml-3">
                                                                
                                                </div>
                                                <div class="row mt-2 mb-1 ml-3">
                                                               
                                                </div>
                                        
                                        
                                        </div>
                                </div>
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark bg-light casilla_filla_arriba">
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div id="paseo_del_prado" class="w-100 h-75"><p>Paseo del prado</p>
                                        
                                                <div class="row mt-2 ml-3">
                                                                
                                                </div>
                                                <div class="row mt-2 mb-1 ml-3">
                                                               
                                                </div>
                                        
                                        </div>
                                </div>

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light " id="ve_carcel">
                                        <div></div>
                                        <div class="row mt-2 ml-3">
                                                                
                                        </div>
                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                        </div>
                                </div>
                                
                        </div>
                        <div class="row filaCentral">

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths bg-light column">

                                        <div class="mx-auto h-25 row border border-dark">

                                                <div id="impuesto" class="w-75 h-100">
                                                        <p></p>
                                                        <div class="row mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                
                                                </div>
                                                <div class="w-25 h-100 bg-light"><p class="parrafos_zquierda"></p></div>
                                                
                                        </div>
                                        
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div id="puerta_del_sol" class="w-75 h-100"><p class="parrafos_zquierda">Puerta del sol</p>
                                                
                                                        <div class="row mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                
                                                </div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div id="plaza_españa" class="w-75 h-100"><p class="parrafos_zquierda">Plaza España</p>
                                                
                                                        <div class="row mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                </div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div id="calle_bailen" class="w-75 h-100"><p class="parrafos_zquierda">Calle Bailen</p>

                                                        <div class="row mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                </div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                </div>
                        
                                <div class="w-50 border border-dark bg-light"></div>

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths bg-light column">
                                        
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="reyes_catolicos" class="w-75 h-100"><p>Reyes Catolicos</p>
                                                
                                                        <div class="row mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                
                                                </div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="cea_bermudez" class="w-75 h-100"><p>Cea Bermudez</p>
                                                
                                                        <div class="row mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                
                                                </div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="maria_molina" class="w-75 h-100"><p>Maria Molina</p>
                                                
                                                        <div class="row w-75 mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row w-75 mt-2 mb-1 ml-3">
                                                                
                                                        </div>
                                                
                                                </div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="avenida_america" class="w-75 h-100"><p>Avenida America</p>

                                                        <div class="row w-75 mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row w-75 mt-2 mb-1 ml-3">
                                                               
                                                        </div>

                                                
                                                </div>
                                        </div>
                                </div>

                        
                        </div>
                        <div class="row filaAbajo">

                                        <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light" id="injail">
                                                        <div></div>
                                                        <div class="row w-75 mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row w-75 mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div id="glorieta_bilbao" class="w-100 h-75"><p>Glorieta Bilbao</p>

                                                        <div class="row w-100 mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row w-100 mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                
                                                </div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div id="suerte" class="w-100 h-25"><p>Suerte</p></div>
                                                <div id="suerte1" class="w-100 h-75 suerte">
                                                        <p></p>
                                                        <div class="row w-100 mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row w-100 mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                </div>
                                                
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div id="alberto_aguilera" class="w-100 h-75">
                                                        <p>Alberto Aguilera</p>
                                                        <div class="row w-100 mt-2 ml-3">
                                                                
                                                        </div>
                                                        <div class="row w-100 mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark">
                                                        
                                                </div>
                                                <div id="fuencarral" class="w-100 h-75">
                                                        <p>Fuencarral</p>
                                                        <div class="row w-100 mt-2 ml-3">
                                                                {# <img class="ficha" src="imagenes/sombrero.png">
                                                                <img class="ficha" src="imagenes/perro.png"> #}
                                                        </div>
                                                        <div class="row w-100 mt-2 mb-1 ml-3">
                                                                {# <img class="ficha" src="imagenes/perro.png">
                                                                <img class="ficha" src="imagenes/perro.png"> #}
                                                                {# <div class="cas1 col-2 ml-auto mr-1 bg-warning"></div>
                                                                <div class="cas1 col-2 mr-auto mr-1 bg-primary"></div> #}
                                                        </div>
                                                        
                                                </div>
                                        </div>

                                        <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light" id="inicio">
                                        
                                                        <div></div>
                                                        <div class="row mt-2 ml-5">
                                                                
                                                        </div>
                                                        <div class="row mt-2 mb-1 ml-3">
                                                               
                                                        </div>
                                        </div>
                                </div>

                        </div>
                        
                <div id="propiedades_jugador" class="container col-xl-2 col-lg-2 col-md-2 col-sm-2 float-left ml-1">

                </div>
            
        </div>
        
        </div>

        <div id="cartas_propiedades">
                <div id="prop1">
                        <div class="titulo_prop grupo_verde"><p>Fuencarral</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;1000€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp; 50€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;100€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;1.05</p></div>
                </div>
                <div id="prop2">
                        <div class="titulo_prop grupo_verde"><p>Alberto Aguilera</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;1250€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;75€</p></div>
                        <div class="texto_prop"><p>Precio Compra &nbsp;&nbsp;&nbsp;150€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.10</p></div>
                </div>
                <div id="prop3">
                        <div class="titulo_prop grupo_verde"><p>Glorieta Bilbao</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;1500€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;200€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.15</p></div>
                </div>
                <div id="prop4">
                        <div class="titulo_prop grupo_amarillo"><p>Calle Bailen</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;1750€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;125€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;225€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.20</p></div>
                </div>
                <div id="prop5">
                        <div class="titulo_prop grupo_amarillo"><p>Plaza España</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;2000€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;250€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.25</p></div>
                </div>
                <div id="prop6">
                        <div class="titulo_prop grupo_amarillo"><p>Puerta del Sol</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;2250€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;175€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;275€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.30</p></div>
                </div>
                <div id="prop7">
                        <div class="titulo_prop grupo_azul"><p>Gran Via</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;2500€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;300€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.35</p></div>
                </div>
                <div id="prop8">
                        <div class="titulo_prop grupo_azul"><p>Paseo Castellana</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;2750€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;225€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;325€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.40</p></div>
                </div>
                <div id="prop9">
                        <div class="titulo_prop grupo_azul"><p>Paseo del Prado</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;3000€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;250€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;350€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.45</p></div>
                </div>
                <div id="prop10">
                        <div class="titulo_prop grupo_rojo"><p>Reyes Catolicos</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;3250€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;275€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;375€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.50</p></div>
                </div>
                <div id="prop11">
                        <div class="titulo_prop grupo_rojo"><p>Cea Bermudez</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;3500€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;400€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.70</p></div>
                </div>
                <div id="prop12">
                        <div class="titulo_prop grupo_rojo"><p>Maria Molina</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;3750€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;325€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;425€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;1.80</p></div>
                </div>
                <div id="prop13">
                        <div class="titulo_prop grupo_rojo"><p>Avenida America</p></div>
                        <hr class="linea_prop bg-dark">
                        <div class="texto_prop"><p>Precio Compra &nbsp;4000€</p></div>
                        <div class="texto_prop"><p>Alquiler Base &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;350€</p></div>
                        <div class="texto_prop"><p>Precio Ed &nbsp;&nbsp;&nbsp;450€</p></div>
                        <div class="texto_prop"><p>Factor Rev &nbsp;&nbsp;&nbsp;&nbsp;2.00</p></div>
                </div>
                <div id="carta_suerte">
                        <div id="contenedor_suerte">
                                <div id="chance">Suerte</div>
                                <p id="mensaje_suerte"><p>
                        </div>
                </div>
                <div id="impuestos">
                        <div id="contenedor_impuesto">
                                <div id="titulo_imp">Impuesto</div>
                                <p id="mensaje_impuesto"><p>
                        </div>
                </div>
                <div id="dado">
                        <div id="contenedor_dado">
                                <p id="mensaje_dado"><p>
                        </div>
                </div>
                <div id="init">
                        <div id="contenedor_init">
                                <p id="mensaje_init"><p>
                        </div>
                </div>
                <div id="winner">
                        <div id="contenedor_winner">
                                <p id="mensaje_winner"><p>
                        </div>
                </div>
                <div id="errores">
                        <div id="contenedor_errores">
                                <p id="mensaje_errores"><p>
                        </div>
                </div>
        </div>


        <script>
            function myFunc() {
                var myJsVar = [];
                {% for key,value in jugadores_partida_tablero %}
                    myJsVar.push("{{ value }}");
                {% endfor %}
                return myJsVar;
            }
            function myFunc2() {
                var myJsVar2 = [];
                {% for key,value in id_jugadores_partida %}
                    myJsVar2.push("{{ value }}");
                {% endfor %}
                return myJsVar2;
            }
        </script>
    </body>
</html>