<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>            
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="stylesheets/css1.css">
            <title>Tablero Monopoly</title>

            <script type="text/javascript">
                var jugadores_partida = [];
                var id_jugadores_partida = [];
                var jugadores_mezclados = [];
                var aux_jugadores = [];
                var turnos = 0;
                var turno_jugador = -1;
                var casillas_tablero= [];
                //Cada vez que se pase de turno o se inicie la partida el numero aumentará
                function sumar_Turno () {
                        turnos = turnos + 1;
                        $('#numeroTurno p').text('Turno nº '+ turnos);
                }
                //Metodo para mezclar los jugadores al inicio de la partida
                function mezclar_Jugadores () {
                        
                        //Esta es la unica forma de clonar relativamente buena en javascript, se guardan los jugadores en un array auxiliar
                                //para posteriormente mezclarlos en otro
                        for (i = 0; i < jugadores_partida.length; i++){

                                aux_jugadores [i] = jugadores_partida [i];
                        }
                        
                        for (i = 0; i < jugadores_partida.length; i++) {
                                var orden_aleatorio = (Math.floor(Math.random() * aux_jugadores.length));
                                jugadores_mezclados[i]=aux_jugadores[orden_aleatorio];
                                aux_jugadores.splice(orden_aleatorio, 1);
                        }
                        console.log(jugadores_mezclados);
                        
                }
                function siguiente_jugador() {
                        if(turno_jugador<(jugadores_partida.length-1)) {
                                turno_jugador += 1;
                        } else {
                                turno_jugador = 0;
                        }
                        $('#jugadorTurno').text('Turno del jugador: ' + jugadores_mezclados[turno_jugador]);
                }
                $(function() {
                        $('.logueoJugador').submit(function(evento){
                               evento.preventDefault();
                               var padre = $(this);
                               var padre_del_padre = $(this).parent();
                               var hijosFormulario = $(this).children();
                               var email=hijosFormulario.eq(0).val();
                               var pass=hijosFormulario.eq(1).val();
                               $.ajax({
                                type: 'POST',
                                url:'/logeoAjax',
                                data: {
                                        email:email,
                                        password:pass
                                },success:function(response) {
                                        padre.remove();
                                        var aux_log = [];
                                        aux_log['nickname'] = response.nickname;
                                        aux_log['id'] = response.id;
                                        jugadores_partida.push(aux_log['nickname']);
                                        id_jugadores_partida.push(aux_log['id']);
                                        console.log(jugadores_partida);
                                        console.log(id_jugadores_partida);
                                        //console.log(aux_jugadores);
                                        padre_del_padre.append('<p>'+response.nickname+'</p>');
                                }
                                });

                        });

                       $('#start_button').click(function() {
                                $.ajax({
                                type: 'POST',
                                url:'/crearPartida',
                                data: {
                                    array_jugadores: id_jugadores_partida,
                                },
                                success:function(response) {
                                        // console.log(response);
                                        casillas_tablero=response.lista_casillas;
                                        console.log(casillas_tablero);
                                }
                                });
                                sumar_Turno();
                                mezclar_Jugadores();
                                siguiente_jugador();
                                $(this).parent().append('<button type="button" id="end_turn_button" class="w-100 btn btn-success">Fin turno</button>');
                                $(this).remove();
                        });

                        $(document).on('click', '#end_turn_button', function(){ //Es necesario usar la delegacion de eventos para elementos creados
                                sumar_Turno();
                                siguiente_jugador();
                        }); 

                });
                
               
            </script>
    </head>
    <body>
    
        <div id="infoJuego" class="container row mx-auto">
                
                <div id="jugadorTurno" class="col-xl-6 col-lg-6 col-sm-6">
                        <p>Turno del jugador: </p>
                </div>
                <div id="numeroTurno" class="col-xl-6 col-lg-6 col-sm-6">
                        <p>Turno nº</p>
                </div>
                
        </div>

        <div class="container row mt-5 mb-5 mx-auto principal">

                <div class="container col-xl-2 col-lg-1 col-md-1 col-sm-1 bg-danger">

                        <div class="row">
                                <div id="jugador1" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador1" class="logueoJugador">
                                                <input type="text" name="nombre_jugador1" id="email1">
                                                <input type="password" name="pass_jugador1" id="pass1">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="jugador2" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador2" class="logueoJugador">
                                                <input type="text" name="nombre_jugador2" id="email2">
                                                <input type="password" name="pass_jugador2" id="pass2">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="jugador3" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador3" class="logueoJugador">
                                                <input type="text" name="nombre_jugador3" id="email3">
                                                <input type="password" name="pass_jugador3" id="pass3">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="jugador4" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador4" class="logueoJugador">
                                                <input type="text" name="nombre_jugador4" id="email4">
                                                <input type="password" name="pass_jugador4" id="pass4">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="start" class="col w-100 rounded bg-primary m-1 p-2">
                                        <button type="button" id="start_button" class="w-100 btn btn-success">Empezar</button>
                                </div>
                        </div>

                </div>

                <div class="container col-xl-8 col-lg-10 col-md-10 col-sm-10">

                        <div class="row filaArriba">
                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light" id="parking"></div>
                                
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark">
                                        <div class="w-100 h-25 bg-warning"><p>Suerte</p></div>
                                        <div class="w-100 h-75 suerte"></div>
                                </div>

                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark bg-light casilla_filla_arriba">
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div class="w-100 h-75"><p>Gran via</p></div>
                                </div>
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark bg-light casilla_filla_arriba">               
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div class="w-100 h-75"><p>Paseo de la Castellana</p></div>
                                </div>
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark bg-light casilla_filla_arriba">
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div class="w-100 h-75"><p>Paseo del prado</p></div>
                                </div>

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths cosa" id="carcel"></div>
                        </div>
                        <div class="row filaCentral">

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths bg-light column">

                                        <div class="mx-auto h-25 row border border-dark bg-light"><p>Impuesto</p></div>
                                        
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-75 h-100"><p>Puerta del sol</p></div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-75 h-100"><p>Plaza España</p></div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-75 h-100"><p>Calle Bailen</p></div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                </div>
                        
                                <div class="w-50 border border-dark bg-light"></div>

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths bg-light column">
                                        
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div class="w-75 h-100"><p>Reyes Catolicos</p></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div class="w-75 h-100"><p>Cea Bermudez</p></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div class="w-75 h-100"><p>Maria Molina</p></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark bg-light">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div class="w-75 h-100"><p>Avenida America</p></div>
                                        </div>
                                </div>

                        
                        </div>
                        <div class="row filaAbajo">

                                        <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light" id="injail"></div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div class="w-100 h-75"><p>Glorieta Bilbao</p></div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark">
                                                <div class="w-100 h-25"><p>Suerte</p></div>
                                                <div class="w-100 h-75 suerte"></div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div class="w-100 h-75"><p>Alberto Aguilera</p></div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark bg-light">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div class="w-100 h-75"><p>Fuencarral</p></div>
                                        </div>

                                        <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark bg-light" id="inicio"></div>
                                </div>

                        </div>
                        
                <div class="container col-xl-2 col-lg-1 col-md-1 col-sm-1 bg-primary">

                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>
                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>
                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>
                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>

                </div>
        
        </div>
        
        </div>
        
    </body>
</html>