<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>            
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="stylesheets/css1.css">
            <script type="text/javascript" src="librerias/funciones.js"></script>
            <title>Tablero Monopoly</title>

    </head>
    <body>
    
        <!--<div id="infoJuego" class="container row mx-auto">
                
                <div id="jugadorTurno" class="col-xl-6 col-lg-6 col-sm-6">
                        <p>Turno del jugador: </p>
                </div>
                <div id="numeroTurno" class="col-xl-6 col-lg-6 col-sm-6">
                        <p>Turno nº</p>
                </div>
                
        </div>-->

        <div class="container mt-5 mb-5 principal">

                <div class="container col-xl-2 col-lg-1 col-md-1 col-sm-1 bg-danger float-left">

                        <div class="row">
                                <div id="jugador1" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador1" class="logueoJugador">
                                                <input type="text" name="nombre_jugador1" id="email1" size="15">
                                                <input type="password" name="pass_jugador1" id="pass1" size="15">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="jugador2" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador2" class="logueoJugador">
                                                <input type="text" name="nombre_jugador2" id="email2" size="15">
                                                <input type="password" name="pass_jugador2" id="pass2" size="15">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="jugador3" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador3" class="logueoJugador">
                                                <input type="text" name="nombre_jugador3" id="email3" size="15">
                                                <input type="password" name="pass_jugador3" id="pass3" size="15">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="jugador4" class="col w-100 rounded bg-primary m-1 p-2">
                                        <form method="POST" action="/logeoAjax" id="form_jugador4" class="logueoJugador">
                                                <input type="text" name="nombre_jugador4" id="email4" size="15">
                                                <input type="password" name="pass_jugador4" id="pass4" size="15">
                                                <input type="submit" name="enviar_logeo" value="Enviar">
                                        </form>
                                </div>
                        </div>
                        <div class="row">
                                <div id="start" class="col w-100 rounded bg-primary m-1 p-2 ">
                                        <button type="button" id="start_button" class="w-100 btn btn-success">Empezar</button>

                                        <button type="button" id="end_turn_button" class="w-100 btn btn-success">Fin turno</button>

                                        <button type="button" id="roll_dice_button" class="w-100 btn btn-success">Tirar dado</button>

                                        <button type="button" id="buy_button" class="w-100 btn btn-success">Comprar</button>

                                        <button type="button" id="sell_button" class="w-100 btn btn-success">Vender</button>

                                </div>
                        </div>

                </div>

                <!--<div class="container col-xl-8 col-lg-10 col-md-10 col-sm-10 float-left">

                        <div class="row filaArriba">
                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark" id="parking"></div>
                                
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark">
                                        <div id="suerte2" class="w-100 h-25"><p>Suerte</p></div>
                                        <div class="w-100 h-75 suerte"></div>
                                </div>

                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark casilla_filla_arriba">
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div id="gran_via" class="w-100 h-75"><p>Gran via</p></div>
                                </div>
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark  casilla_filla_arriba">               
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div id="paseo_de_la_castellana" class="w-100 h-75"><p>Paseo de la Castellana</p></div>
                                </div>
                                <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths border border-dark casilla_filla_arriba">
                                        <div class="w-100 h-25 bg-primary border-top border-dark"></div>
                                        <div id="paseo_del_prado" class="w-100 h-75"><p>Paseo del prado</p></div>
                                </div>

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths cosa" id="ve_carcel"></div>
                        </div>
                        <div class="row filaCentral">

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths bg-light column">

                                        <div id="impuesto" class="mx-auto h-25 row border border-dark"><p>Impuesto</p></div>
                                        
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div id="puerta_del_sol" class="w-75 h-100"><p>Puerta del sol</p></div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div id="plaza_españa" class="w-75 h-100"><p>Plaza España</p></div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div id="calle_bailen" class="w-75 h-100"><p>Calle Bailen</p></div>
                                                <div class="w-25 h-100 bg-warning border-left border-dark"></div>
                                        </div>
                                </div>
                        
                                <div class="w-50 border border-dark bg-light"></div>

                                <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths bg-light column">
                                        
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="reyes_catolicos" class="w-75 h-100"><p>Reyes Catolicos</p></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="cea_bermudez" class="w-75 h-100"><p>Cea Bermudez</p></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="maria_molina" class="w-75 h-100"><p>Maria Molina</p></div>
                                        </div>
                                        <div class="mx-auto h-25 row border border-dark ">
                                                <div class="w-25 h-100 border-right border-dark bg-danger"></div>
                                                <div id="avenida_america" class="w-75 h-100"><p>Avenida America</p></div>
                                        </div>
                                </div>

                        
                        </div>
                        <div class="row filaAbajo">

                                        <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark " id="injail"></div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark ">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div id="glorieta_bilbao" class="w-100 h-75"><p>Glorieta Bilbao</p></div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark">
                                                <div id="suerte" class="w-100 h-25"><p>Suerte</p></div>
                                                <div id="suerte1" class="w-100 h-75 suerte"></div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark ">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div id="alberto_aguilera" class="w-100 h-75"><p>Alberto Aguilera</p></div>
                                        </div>

                                        <div class="col-xl-1ths col-lg-1ths col-md-1ths col-sm-1ths colum border border-dark ">
                                                <div class="w-100 h-25 bg-success border-bottom border-dark"></div>
                                                <div id="fuencarral" class="w-100 h-75"><p>Fuencarral</p></div>
                                        </div>

                                        <div class="col-xl-4ths col-lg-4ths col-md-4ths col-sm-4ths border border-dark" id="inicio"></div>
                                </div>

                        </div>
                        
                <div class="container col-xl-1 col-lg-1 col-md-1 col-sm-1 bg-primary float-left">

                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>
                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>
                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>
                        <div class="row">
                                <div class="col">adsfadsf</div>
                        </div>

                </div>
            
        </div>-->
        
        </div>
        <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>
    </body>
</html>